
<main>
    <div class="container">
        <div class="central-icon">
            <i class="fas fa-user fa-3x"></i>
        </div>
        <div class="main-form">
            <h3>Registration form</h3>
            <form [formGroup]="registerProfileForm" (ngSubmit)="onSubmit()">
                    <div class="inputContainer">
                        <label for="fullName"><i class="fas fa-user"></i></label>
                        <input id="fullName" type="text" formControlName="fullName" placeholder="FullName">
                    </div>

                    <div class="inputContainer">
                        <label for="userName"><i class="fas fa-smile"></i></label>
                        <input id="userName" type="text" formControlName="userName" placeholder="UserName">
                    </div>

                    <div class="inputContainer">
                        <label for="email"><i class="fas fa-envelope"></i></label>
                        <input id="email" type="text" formControlName="email" placeholder="Email">
                    </div>

                    <div class="inputContainer">
                        <label for="password"><i class="fas fa-lock-open"></i></label>
                        <input id="password" type="text" formControlName="password" placeholder="Password">
                    </div>

                    <div class="inputContainer">
                        <label for="confirmPassword"><i class="fas fa-lock"></i></label>
                        <input id="confirmPassword" type="text" formControlName="confirmPassword" placeholder="Confirm Password">
                    </div>

                    <div class="inputContainer">
                        <label for="technology"><i class="fas fa-chalkboard-teacher technologyImg"></i></label>
                        <select formControlName="technologyIntrestedIn" id="technology">
                            <option value="">Select Your Technology</option>
                            <option *ngFor="let technology of technologies">{{technology}}</option>
                        </select>
                    </div>

                    <button type="submit" class="button primary register">Register</button>
                </form>

        </div>
        <footer>
            <div id="backButtonExplanation">Have you changed your mind?</div>
            <a routerLink="/" class="button">Back to Home</a>
            <button class="button back" type="button" (click)="goBack()">Back</button>
        </footer>
    </div>
</main>
