@import "colors";

.button {
    // position

    // display (box-model)
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 4px;

    // other
    background-color: #333333;
    color: white;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-out 150ms;

    &:hover {
        box-shadow: 0 4px 9px -5px rgba(0, 0, 0, 0.5);
    }

    &.primary {
        background-color: $color-main;
    }
}

.dropdown {
    position: relative;

    .dropdownContent {
        position: absolute;
        right: 0;
        left: 0;
        display: none;

    }

    &:hover {
        .dropdownContent {
            display: inline-block;
        }
    }

    .item {
        display: block;
    }

    hr {
        display: block;
        width: 90%;
        margin: 3px auto;
        border: none;
        border-top: 1px solid;
    }
}
