$body-background: #F2F2F2;

$color-main: #fae167;
$color-main-contrast-text: #000000;
$color-main-light-text: #75630b;

$color-second: #74d5de;
$color-second-contrast-text: #FFFFFF;
$color-second-light-text: #FFEEEE;

$color-light-text: #333333;
$color-lighter-text: #4F4F4F;
$color-lightest-text: #666666;
$color-faded-text: #999999;
$color-contrast-text: #030303;

$color-light-grey: #CCCCCC;
$color-lighter-grey: #EEEEEE;
$color-lightest-grey: #F2F2F2;
