@import "src/colors";

.wrapper {
    width: 400px;
    margin: auto;
    border: 1px solid $color-lighter-grey;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 12px -10px rgba(0, 0, 0, 0.5);

    > header, > footer {
        text-align: center;
    }

    > main {
        padding: 10px;
    }
}
