@import "src/styles/colors";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    width: 400px;
    margin: auto;
    border: 1px solid $color-lighter-grey;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 12px -10px rgba(0, 0, 0, 0.5);

    > header, > footer {
        text-align: center;
    }

    > header {
        color: $color-lighter-text;

        img {
            margin: 20px auto;
            width: 90%;
        }
    }

    > main {
        padding: 10px;
    }

    > footer {
        margin: 30px 0 15px;
    }
}
