/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/buttons";
@import "styles/inputs";
@import "styles/helperClasses";

* {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Open Sans", "Trebuchet MS", sans-serif;
}

html, body, app-root {
    margin: 0;
    padding: 0;
    background-color: $body-background;
    height: 100%;
}

body {
    line-height: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
}

a {
    color: $color-second;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
