<div class="body">
    <div class="container">
        <div class="central-icon">
            <i class="fas fa-users fa-4x"></i>
        </div>

        <div class="main-form">
            <div class="title">
                <h3>{{title | uppercase }}</h3>
            </div>
            <div>
            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
                <div class="userName">
                    <div class="userIcon">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                    <!-- <label for="userName">User Name:</label> -->
                    <input id="userInput" type="text" formControlName="userName" placeholder="      User Name">
                </div>

                <div class="userPassword">
                    <div class="passwordIcon">
                        <i class="fas fa-lock fa-2x"></i>
                    </div>
                    <!-- <label for="userPassword">Password:</label> -->
                    <input id="userPassword" type="text" formControlName="userPassword" placeholder="       *************">
                </div>
                <div class="button">
                    <button type="submit" [disabled]="!userProfileForm.valid">Login</button>
                </div>
                <div class="remember">
                    <div class="rememberMe">
                        <input id="rememberMeCheckbox" type="checkbox" formControlName="rememberMe"> 
                        <label for="rememberMeCheckbox">Remember Me ?</label>
                    </div>
            
                    <a href="#" routerLink="/test">Forgot Password</a>
                </div>
                
            </form>
            </div>
        </div>
        <footer>
            <div class="register">
                <p class="registerText">Don't have an account ?</p>
                <a class="registerLink" href="#" routerLink="/test">Register Here</a>
            </div>
            <div class="author">
                <p>Designed by <span><i class="fas fa-book-reader"></i></span> MPA</p>
            </div>
        </footer>
    </div>
</div>