<div class="wrapper">
    <header class="central-icon">
        <h2><i class="fas fa-users"></i> Login</h2>
    </header>

    <main>
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
            <div class="inputContainer">
                <label class="iconLabel" for="userName" title="User name"><i class="fas fa-user"></i></label>
                <input id="userName" type="text" formControlName="userName" placeholder="User Name">
            </div>

            <div class="inputContainer">
                <label class="iconLabel" for="userPassword" title="Password"><i class="fas fa-lock"></i></label>
                <input id="userPassword" type="text" formControlName="userPassword" placeholder="Password">
            </div>

            <button type="button" class="button primary text-lg float-right" [disabled]="!userProfileForm.valid"
                    routerLink="/dashboard" (click)="login()">Login
            </button>

            <div class="rememberMe">
                <input id="rememberMeCheckbox" type="checkbox" formControlName="rememberMe">
                <label for="rememberMeCheckbox">Remember me</label>
            </div>

            <div class="buttonContainer">
            </div>
        </form>
    </main>

    <footer>
        <a href="#" routerLink="/test" id="forgotPassword">Forgot Password</a>
        <br>
        Don't have an account? <a routerLink="/register" class="text-lg">Sign up</a>
    </footer>
</div>
