:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

footer {
    margin: 30px 0 15px;
}

#forgotPassword {
    display: inline-block;
    margin-bottom: 7px
}




